@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk6jFN_C-bw.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_C-bw.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk7PFN_C-bw.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE9_C-bw.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4aE9_C-bw.ttf) format('truetype');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk59E9_C-bw.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA133VamoY8U.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA13FVamoY8U.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA10pUqmoY8U.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/L0xtDF02iFML4hGCyMqgdyNEf6or5L2WA10QUqmoY8U.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDyx4vEZmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/L0xjDF02iFML4hGCyOCpRdycFsGxSrqD-R4vEZmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDFRkvEZmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDLBkvEZmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDSxkvEZmv.ttf) format('truetype');
}
@font-face {
  font-family: 'Water Brush';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/AYCPpXPqc8cJWLhp4hywKEJt5vY.ttf) format('truetype');
}
